body  {
  margin:0;
  padding:0;
 
}

.navbar {
  width: 100%;
  height:100px;
  background-color:#145A32;
}
.navbar p {
  font-size:40px;
  font-family: 'Rakkas', cursive;
  float:right;
  margin-top:0;
  margin-right:3%;
  padding:10px;
  color:#ECF0F1;

}
.navbar ul{
  list-style-type:none;
  float:right;
  margin-right:7%;
  margin-top:2%;
  width:60%;

}
.navbar ul li {
  display: inline;
  margin-left:5%;
  font-size: 35px;
  font-family: 'Rakkas', cursive;
  color : #ECF0F1 ;
}

.navbar ul li a {
  display: inline;
  margin-left:3%;
  font-size: 35px;
  font-family: 'Rakkas', cursive;
  color : #ECF0F1 ;
  text-decoration:none;
}



.navbar ul li a:hover{
  color :gray ;
}
.header {
  width:100%;
  height: 1400px;
  background-image:url(https://www.ikea.com/sa/en/images/products/bintje-plant-pot-galvanised__0811072_PE771564_S5.JPG);
  background-size: cover;

}

.opacity {
  width:100%;
  height:100%;
  background-color:black;
  opacity:0.5;
}
.header p {
  position:absolute;
  top:250px ;
  right : 10%;
  color : #D0D3D4 ;
  font-family: 'Aref Ruqaa', serif;
  font-size:55px;
  border-bottom:solid white ;
}
.instructions {
padding:100 px 0 ;
margin: 5% 15% 30%;
}
.instructions .item {
	width:25%
	height:100px;
	float:right;
	box-shadow:0 0 10px green;
	padding:150px 100px 200px;
	margin:4%;
  font-family: 'Aref Ruqaa',serif;
  font-size:50px;
  border-radius:5px;
  opacity:0.7;
}

.instructions .item a {
text-decoration:none;
	color:white;
}

#imp{
	background-image:url(https://thumbs.dreamstime.com/b/produzca-la-ensalada-en-invernadero-65157885.jpg);
	  background-size:cover;
}
#learn {
	background-image:url(https://i.pinimg.com/564x/3b/56/5b/3b565ba2ab9806d8987b1182e7e123bc.jpg);
	  background-size:cover;
}
#care {
	padding:150px 60px 200px;;
	background-image:url(http://www.theday.com/storyimage/NL/20170418/NWS01/170419462/EP/1/2/EP-170419462.jpg&Maxw=960&q=75);
	background-size:cover;
}

.item a:hover{
	color:#A0B584;
	font-size:55px;
}

.about {
  padding:80px 0 ;
}
.about p {
  width:45%;
  font-family:'Rakkas' ;
  font-size:20px;
  float : right;
  margin-right:5%;
}
.about p span {
  display: block;
  font-family:'Aref Ruqaa';
  font-size:60px;
  color:#5D6D7E;
  border-bottom:solid thin gray;
  width:33%;
  margin-bottom: 20px;

}

.about img {
  margin-right: 8%:
}

